@import '~antd/dist/antd.css';

.App {
  padding : 10rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.user-list{
  margin-top: .5rem;
  padding: 1.5rem;
}

.content {
  background-color:white;
  min-height: 100vh;
  display: block;
  font-size: calc(10px + 2vmin);
  color: black;
}

.meta{
  width: 75%;
}

.loading{
  margin-top: .5rem;
  padding: 1.5rem;
  display: block;
  margin: 0 auto;
}

.error{
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
